.cabecalho{
    background-color: #13293D;
    height: 150px;
    display: flex;
    align-items: center;
    padding: 0px 20px;
}

.img-logotipo{
    width: 200px;
}

.cabecalho-nav{
    display: flex;
    justify-content: center;
    width: 100%;
}

.menu{
    display: flex;
}

.menu a{
    text-decoration: none;
    color: #E8F1F2;
}

.menu-item{
    margin: 0 3em 0 3em;
    font-size: 1.1em;
    color: #E8F1F2;
}

.apresentacao{
    background-color: #006495;
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 2em;
    color: #E8F1F2;
    padding: 0px 20px;

}

.foto-apresentacao{
    width: 30%;
}

.formacoes{
    background-color: #247BA0;
    padding: 0px 20px;
    height: 300px;
}

.formacoes h2{
    font-size: 3em;
}

.formacoes p{
    margin-top: 20px;
}

.formacoes p::before{
    content:"➔";
}


