body{
    font-family: 'Montserrat', sans-serif;
}

.cabecalho{
    background-color: #13293D;
    height: 150px;
    display: flex;
    align-items: center;
    padding: 0px 20px;
}

.img-logotipo{
    width: 10em;
}

.cabecalho-nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100px;
}

.menu{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}

.menu a{
    text-decoration: none;
    color: #E8F1F2;
}

.menu-item{
    display: flex;
    margin: 0 2em 0 2em;
    font-size: 1.1em;
    color: #E8F1F2;
    height: 100%;
    width: 100px;
    justify-content: space-around;
    align-items: center;
}

.menu-item:hover{
    box-shadow: 0px 4px 0px 0px #E8F1F2;
}

.menu-item:active{
    background-color:#006495;   
    opacity: 0.5;
}

.apresentacao{
    background: rgb(19,41,61);
    background: linear-gradient(180deg, rgba(19,41,61,1) 0%, rgba(0,100,149,1) 54%, rgba(36,123,160,1) 100%);
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 2em;
    color: #E8F1F2;
    padding: 0px 20px;

}

.apresentacao h1{
    position: absolute;
    top: 40%;
    right: 50%;
}

.foto-apresentacao{
    width: 30%;
}

.paragrafo-apresentaçao::after{
    content: '|';
    margin-left: 5px;
    opacity: 1;
    animation: piscaCursor 0.8s infinite ;
}

@keyframes piscaCursor{
    0%,100%{
        opacity: 1;
    }
    50%{
        opacity: 0;
    }
}

.formacoes{
    background: rgb(19,41,61);
    background: linear-gradient(180deg, rgba(19,41,61,1) 7%, rgba(27,81,109,1) 25%, rgba(36,123,160,1) 47%, rgba(0,100,149,1) 70%);
    padding: 0px 20px;
    height: 300px;
    color: #E8F1F2;
}

.formacoes h2{
    color: #E8F1F2;
    font-size: 2.5em;
    padding: 20px 20px; 
}

.formacoes h2{
    font-size: 3em;
}

.formacoes p{
    margin-top: 20px;
}

.formacoes p::before{
    content:"➔";
}

.habilidades{
    background: rgb(0,100,149);
    background: linear-gradient(90deg, rgba(0,100,149,1) 17%, rgba(19,41,61,1) 100%);
    color: #E8F1F2;
}

.titulo-habilidades{
    display: flex;
    align-items: center;
}

.titulo-habilidades p{
    margin-left: 30em;
}

.habilidades h2{
    color: #E8F1F2;
    font-size: 2.5em;
    padding: 20px 20px;
}

.div-habilidade{
    display: flex;
}

.img-habilidades{
    display: flex;
    width: 40%;
    height: 300px;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px 50px 20px;
}

.foto-habilidade{
    width: 150px;
    height: 130px;
    margin: 5px auto;
}
.foto-habilidade:hover{
    zoom: 110%;
}

.fadeout{
    opacity: 0;
    transition: 0.5s;
}

.div-paragrafos{
   /* background-color: #006495;*/
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 60%;
    text-align: center;
}


.centraliza{
    text-align: center;
    padding: 50px 0;
}

.projetos{
    display: flex;
    justify-content: space-around;
    background-color: #1B98E0;
    height: 25em;
}

.projetos-divs{
    width: 300px;
    height: 150px;
    background-color: #13293D;
    text-align: center;
}

.img-projetos{
    width: 60%;
    margin-top: 10px;
}

.contato{
    background: rgb(0,100,149);
    background: linear-gradient(90deg, rgba(0,100,149,1) 17%, rgba(36,123,160,1) 100%);
}

.div-contato{
    display: flex;
    justify-content: space-around;
    padding-bottom: 50px;
    padding-top: 20px;
    height: 10em;
}

.contato h2{
    color: #E8F1F2;
    font-size: 2.5em;
    padding: 20px 20px;
}

.img-contatos{
    width: 70px;
    margin: 15px auto;
}

.fig-contatos{
    text-align: center;
    background-color: #006495;
    width: 140px;
    height: 155px;
    box-shadow: 8px 8px 5px;
    border-radius: 5px;
}

.fig-contatos:hover{
    zoom: 105%;
    opacity: 0.8;
}

.caption{
    background-color: #E8F1F2;
    height: 35px;
    padding-top: 1em;
    border-radius: 0px 0px 5px 5px;
}

.caption-email{
    background-color: #E8F1F2;
    height: 43px;
    padding-top: 0.5em;
    border-radius: 5px;
}

.rodape{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #13293D;
    height: 5rem;
}

