.cabecalho{
    background-color: #13293D;
    height: 150px;
    display: flex;
    align-items: center;
    padding: 0px 20px;
}

.img-logotipo{
    width: 200px;
}

.cabecalho-nav{
    display: flex;
    justify-content: center;
    width: 100%;
}

.menu{
    display: flex;
}

.menu a{
    text-decoration: none;
    color: #E8F1F2;
}

.menu-item{
    margin: 0 3em 0 3em;
    font-size: 1.1em;
    color: #E8F1F2;
}

.apresentacao{
    background-color: #006495;
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 2em;
    color: #E8F1F2;
    padding: 0px 20px;

}

.foto-apresentacao{
    width: 30%;
}

.formacoes{
    background-color: #247BA0;
    padding: 0px 20px;
    height: 300px;
}

.formacoes h2{
    font-size: 3em;
}

.formacoes p{
    margin-top: 20px;
}

.formacoes p::before{
    content:"➔";
}

.habilidade{
    display: flex;
}

.div-habilidades{
    display: flex;
    width: 40%;
    height: 300px;
    background-color: aqua;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.foto-habilidade{
    width: 150px;
    height: 130px;
    margin: 5px auto;
    background-color: #000000;
}
.foto-habilidade:hover{
    zoom: 110%;
}

.fadeout{
    opacity: 0;
}

/*.div-paragrafos{
    background-color: bisque;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 60%;
    text-align: center;
}*/
.div-paragrafos{
    background-color: #f01;
    width: 60%;
}

.centraliza{
    text-align: center;
    padding: 50px 0;
}

